* {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
hr {
  height: 1px;
  border: 0;
  color: gray;
  background-color: gray;
  margin: 15px auto 10px auto;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
